<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <!--Floating Glass Navigation -->
    <nav class="glass">
        <a href="#home" class="logo">Dev.</a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">La Pasión</a>
        </div>
    </nav>


    <!--About -->
    <section id="about">
        <h2 class="section-title">Who am I?</h2>
        <div class="about-grid">
        <div class="about-text glass" style="padding: 2.5rem;">
            <p>Philosophically And Spiritually I don't really know. For now I am Dixit an 17 year old Student from a Himalayan state in India. My favorite hobbie is hobbie jumping! Yup I am intrested in everything when I am not being forced to do it. </p>
            <br>
            <p>Now let's talk about a hobbie I have been intrested in for a long time. Which is Tech and things related to it from hardware to software everything.Using tech,my devices and internet I have tried doing a lot of things.As a 10 year old I tried making a pirating website for apps & games so that i can earn money from ads and ya this was not succesful due to many reasons you can guess.Making multiple youtube channels from a very young age to teenage,Trying to be an Esports Athlete and Esports Team Mannager and more... I have tried a lot of thing and have failed in most of them or could not achive what I wanted to with them, but things are changing now at least a bit.Now more stuff work than it use to and I am thankful for that and i hope it continues.This finishes my very brief summery of Who am I? In this context.</p>
         </div>

         <div class="about-visual">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
        
      
    </div>

</div>

</section>
    
</body>
</html>























































