<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackclubingMe</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>



    <!--Floating Glass Navigation -->
    <nav class="glass">
        <a href="#home" class="logo">Dev.</a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">La Pasión</a>
        </div>
    </nav>

    <!--Home -->
    <section id="home">
        <h1 class="hero-title">Trying To Learn &<br>Build Cool Stuff.</h1>
        <p class="hero-subtitle">I'm trying to learn & play around with HTML,CSS and Flask to create a Cool Website for myself and an event by Hackclub community, Slushies.</p>
        <a href="/projects" class="btn">See My Work</a>
    </section>



    


</body>

</html>