<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

     <!--Floating Glass Navigation -->
    <nav class="glass">
        <a href="#home" class="logo">Dev.</a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">La Pasión</a>
        </div>
    </nav>


    <!--Projects-->
    <section id="projects">
        <h2 class="section title">Recent Experiments</h2>
        <div class="project grid">
            <div class="project card glass">
                <h3>Flask App</h3>
                <p>A backend system that doesn't look it was built in 1999.Custom database integration with a sleek UI
                </p>
                <div class="tags">
                    <span class="tag">Python</span>
                    <span class="tag">Flask</span>
                </div>
            </div>

            <div class="project card glass">
                <h3>This Portfolio</h3>
                <p>Pure HTML and CSS. No heavy frameworks, just raw code and a lot of keyframe animations.</p>
                <div class="tags">
                    <span class="tag">CSS3</span>
                    <span class="tag">Design</span>
                </div>
            </div>

        </div>
    </section>
    

</body>
</html>



















































