<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Pasión</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

     <!--Floating Glass Navigation -->
    <nav class="glass">
        <a href="#home" class="logo">Dev.</a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">La Pasión</a>
        </div>
    </nav>


    <!--Projects-->
    <section id="projects">
        <h2 class="section-title">Recent & Past Experiments</h2>
        <div class="project-grid">
            <div class="project-card glass">
                <h3>Flask App</h3>
                <p>Using HTML, CSS and Python web framework to make a Flask Website. #Slushies
                </p>
                <div class="tags">
                    <span class="tag">Python</span>
                    <span class="tag">Flask</span>
                </div>
            </div>

            <div class="project-card glass">
                <h3>HackPad</h3>
                <p>Using KiCad to make schematics and PCB then Designing a 3D model for 3D printing.Finally getting everything I need to complete this Hardware Project to make a MicroPad. #BluePrint</p>
                <div class="tags">
                    <span class="tag">KiCad</span>
                    <span class="tag">3d modeling</span>
                    <span class="tag">Python</span>
                </div>
            </div>

             <div class="project-card glass">
                <h3>Youtube</h3>
                <p>Using my video editing skills and creativity to make original gaming and anime edit youtube shorts.To grow my channel to 500+ subs with 300000+ total views.</p>
                <div class="tags">
                    <span class="tag">Video Editing</span>
                    <span class="tag">Content Creation</span>
                </div>
            </div>

             <div class="project-card glass">
                <h3>Team Managment/Esports</h3>
                <p>Played competitive(T3) level in a popular video game.Made a good discord server from scratch, added bots, made multiple channels & customized according to needs.Made some people join the team and play competitive with me/for me. </p>
                <div class="tags">
                    <span class="tag">Community Building</span>
                    <span class="tag">Technical Proficiency with Discord</span>
                    <span class="tag">Team Formation</span>
                </div>
            </div>

            <div class="project-card glass">
                <h3>Linux Phase</h3>
                <p>I tried using linux.I installed POP OS which is Ubuntu based, used it for some time and started distro hopping now i am finally using arch specifically Omarchy arch. </p>
                <div class="tags">
                    <span class="tag">Know terminal a bit</span>
                    <span class="tag">Understand Linux</span>
                    <span class="tag">Problem Solving</span>
                </div>
            </div>

        </div>
    </section>
    

</body>
</html>



















































